html, body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
}


section {
    width: 100%;
} 

.navbar {

   background-color: #A9A9A9;
   
}


.scroll-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}





.grey {
    background-color: #D3D3D3;
}

.initials {
    font-size: 130px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}